@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-outline-tertiary {
      text-shadow: 
        -1px -1px 0 hsl(272, 100%, 50%),  
        2px -1px 0 #3C1361,
        -1px 1px 0 #610bac,
        2px 1px 0 #3C1361;
    }
    .btn-shadow {
      box-shadow: 0 4px 12px rgba(84, 2, 122, 0.8); /* Adjust the shadow values as needed */
    }
  
    .text-shadow {
      text-shadow:  0 4px 12px #54027acc; /* Adjust the shadow values as needed */
      -webkit-text-stroke: 2px #54027acc;
      text-stroke: 1px #610bac;
    }
  }

body{
  background-image: url('/background-img.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* .container-bg{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
} */


  .hero-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    top: 6rem;
    background: #C3B1E1;
  }

  /* .swirl-bg {
    position: absolute;
    height: 150px;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.swirl-bg::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 100%;
    width: 50%;
    height: 32%;
    top: -24rem;
    right: 0;
    background-color: #C3B1E1;
    animation: wave 3s infinite; 
}

.swirl-bg::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 100%;
    height: 120%;
    left: -5rem;
    background-color: #C3B1E1;
    transform: translate(-4%, 40%);
    z-index: -1;
    animation: wave 3s infinite; 
} 

  @keyframes wave {
    0% {
      transform: translateY(10px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(10px);
    }
  } */

/* Home Page Menu Section */
.container{
  background-color: rgba(128, 128, 128, 0.6);
}

.icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
  border-radius: 50%;
  padding: 10px; 
  background-color: rgba(117, 116, 116, 0.8);
  color: rgb(194, 194, 194);
}

.icon-circle:hover {
  color: #C3B1E1;
}

/* Home Page About Section */
.about-section {
  display: flex;
  justify-content: center; /* Center the flex items horizontally */
  align-items: center;
  width: 80%;
}

.image-container,
.text-container {
  flex: 1;
}

.text-container {
  padding-left: 2rem;
  /* text-align: center; */
  margin-left: 10rem;
}

.about-image {
  width: 100%; /* Set the image width to fill the container */
  height: auto;
}